html {
    margin:    0 auto;
    max-width: 800px;
}

body {
    background-image: url(pixelmaze.gif);
    background-size: 60px;
    color: black;
    margin-top: 100px;
    font-family: serif !important;
}

.maintext {
    padding: 6px 12px;
    background-color: lightgrey !important;
}

